header {
    font-family: serif;
}

header h1 {
    font-weight: 700;
    display: flex;
    justify-content: left;
}

header nav {
    font-family: serif;
    display: flex;
    justify-content: left;
}

#blurb {
    font-family: serif;
    font-size: 16px;   
}

#links-title {
    font-family: serif;
    padding: 0px;
}

#icon {
    padding: 0px;
    font-size: 24px;
}

footer {
    font-family: serif;
    padding-top: 40px;
    font-size: 16px;
}